#Home {
  margin: auto;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 13em;
  margin-bottom: 1em;
  display: inline-block;
  z-index: 1;
  position: relative;
}
.container{
  position: relative;
  z-index: 1;
}
#about {
  margin: auto;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  display: inline-block;
  z-index: 1;
  position: relative;
}
em {
  font-size: 1rem;
  font-weight: 400;
  z-index: 1;
  position: relative;
}
h1 {
  margin: 20;
  color: #fff !important;
  font-size: 3.5rem;
  font-weight: 600;
  z-index: 1;
  position: relative;
}
h2 {
  color: lightblue !important;
  z-index: 1;
  position: relative;
}
h3 {
  font-size: 2.5rem;
  font-weight: 600;
  z-index: 1;
  position: relative;
}
#info {
  color: #fff !important;
  font-size: 1.3rem;
  font-weight: 600;
  z-index: 1;
  position: relative;
}
#contact {
  margin: auto;
  z-index: 1;
  position: relative;
}
p {
  font-size: 1.2rem;
  font-weight: 600;
}
label {
  font-size: 1rem;
  font-weight: 600;
  float: left;
}
ul {
  font-size: 1.2rem;
  font-weight: 500;
  list-style: none;
  margin-right: 1.4em;
}
a {
  color: white;
}
/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: grey;
}
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
